@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
  background-color: #fff;
}

/* .select-no-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0"></svg>') no-repeat;
  background-position: right 0.75rem center;
} */

.blur-background {
  filter: blur(5px);
  transition: filter 0.3s;
}

/* Warna Scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #888;
}

/* Warna Scrollbar saat di hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Warna Scrollbar saat di scroll */
::-webkit-scrollbar-thumb:active {
  background-color: #333;
}

/* Warna Scrollbar Track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* Warna Scrollbar Track saat di hover */
::-webkit-scrollbar-track:hover {
  background-color: #ddd;
}
